body {
  background-color: aqua;
}
.search-form {
  text-align: center;
  margin: 20px;
  font-size: 15px;
  padding: 10pxs;
}

input,
.loade-more {
  font-size: 25px;
  width: 400px;
  padding: 10px;
  font-size: 20px;
}

.gallery {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  columns: column-reverse;
}

.gallery_item {
  margin: 5px;
}

.stats {
  display: flex;
  font-size: 18px;
}

.material-icons {
  vertical-align: center;
}

.button {
  font-size: 25px;
  width: 400px;
  display: block;
  margin: 20px auto;
  padding: 10px 0;

  border: 2px solid black;
}

.is-hidden {
  display: none;
}
